* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#root {
  height: 100%;
}

.app.light {
  --bg-color: #f8f8f8;
  --text-color: #202c36;
  --element-bg:#ffffff;
  --button-bg: rgba(0, 0, 0, 0.08);
  --button-hover-bg: rgba(0, 0, 0, 0.12);
}

.app.dark {
  --bg-color: #202c36;
  --text-color: #ffffff;
  --element-bg: #2b3844;
  --button-bg: rgba(255, 255, 255, 0.2);
  --button-hover-bg: rgba(255, 255, 255, 0.3);
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
}

Huvudcontainer för sidor
.container {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
    padding: 25px 0;
  }
}

